<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<link href='./style/style.css' rel='stylesheet' type='text/css'>

    <link href='./style/hamburger.css' rel='stylesheet' type='text/css'>

    <link rel='shortcut icon' href='./img/logo5.png'>

    <!-- facebook meta data -->
    <meta property="og:title" content="kappisan" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.kappisan.com" />
    <meta property="og:image" content="http://www.kappisan.com/img/logo_rectangle.png" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    
    <script src="./libs/numeral.min.js"></script>
    <script src="./libs/moment.js"></script>
    <script src="./libs/angular-route.min.js"></script>

    <script src="./libs/d3.v3.min.js"></script>
    
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    <title>Stock Simulator</title>

</head>
<body ng-app="stockApp" ng-controller="mainCtrl">




<div class="wrapper">

    <center>

      <h1 class="page-heading">{{ currentPage }}</h1>
    </center>

    <input type="checkbox" id="navigation" />
    <label for="navigation">

    <!-- Hamburger -->
    <div id="nav-icon3">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    </label>
    <nav>
        <ul>
            <li><a href="#/" ng-click="goToHomePage()"><p>Home</p></a></li>
            <li><a href="#/holdings" ng-click="goToHoldingsPage()"><p>Holdings</p></a></li>
            <li><a href="#/market" ng-click="goToMarketPage()"><p>Market</p></a></li>
            <li><a href="#/profile" ng-click="goToProfilePage()"><p>Profile</p></a></li>
            <li><a href="#/statements" ng-click="goToStatementsPage()"><p>Statements</p></a></li>
        </ul>
    </nav>

    <div class="user-info" ng-click="goToProfilePage()">
        <span class="cool">{{ user.username }}</span>
        £{{ user.balance }}
    </div>
        
</div>


<div id="container" ng-view></div>


<div ng-if="showTransactionForm" class="grey-out-bg">
    <div class="transactionForm cool">
        <center>
            <h2>EXECUTE TRANSACTION</h2>
            <div><h1>{{ selectedStock.name }}</h1></div><br>

            <h2>{{ stockPrice }}</h2>

            Amount <input type="number" ng-model="transaction.volume" class="transaction-input"><br><br>
            Value  <input type="number" ng-model="transaction.value" class="transaction-input"><br><br><br><br>
            <button ng-click="confirmBuyStock()" class="transaction-button">Execute</button>
            <button ng-click="cancelBuyStock()" class="transaction-button">Cancel</button>
        </center>
    </div>
</div>

<script>

    $(document).ready(function(){
      $('#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function(){
        $(this).toggleClass('open');
      });
    });

</script>

<script src="./main.js"></script>

</body>
</html>