/*Hamburger*/ 


#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  
    z-index: 999;
    width: 2.8%;
    height: 45px;
    position: fixed;
    left: 5%;
    top: -15px;
    margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 2.5px!important;
  width: 100%;
  background: #ffffff;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: -3px;
  height: 1.5px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 14px;
}

#nav-icon3 span:nth-child(4) {
  top: 30px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}



/* Menu */
body, html{
    height:100%;
}
body{
    padding:0;
    margin:0;
}

section li{
    margin:0 0 10px;
}

.wrapper{

    z-index: 9999999;
}
section{
    padding:30px 30px 30px 80px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;

}
nav{ 
    z-index: 9;
       
    position: fixed;
    top: 90px;
    left: 0;
    width:250px;
    height:100%;
    margin:0 0 0 -250px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
}
nav ul{
        width: 242px;
            height: 300px;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #727272;
    border-bottom: 5px solid #ffffff;
            border-right: 5px solid #ffffff;
}
nav li{
    margin:0;
}
nav a{
    color:#fff;
    font-size:1em;
 
    text-decoration:none;
    display:block;
    padding:12px 15px;
    font-weight:300;
    letter-spacing:2px;
  
}
nav a:hover{
    background:#000000;
}
label{
    display:block;
    
    
    width:42px;
    height:42px;
    line-height:42px;
    color:#fff;
    text-align:center;
    font-size:2em;
    line-height:1.1em;
    position:absolute;
    top:10px;
    left:10px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
    z-index:500;
}
input[type="checkbox"]{
    display:none;
}
input[type="checkbox"]:checked ~ nav{
    margin:0;
}
input[type="checkbox"]:checked ~ label{
    left:260px;
}
input[type="checkbox"]:checked ~ section{
    -webkit-transform:translate3d(260px, 0, 0);
    -moz-transform:translate3d(260px, 0, 0);
    -o-transform:translate3d(260px, 0, 0);
    transform:translate3d(260px, 0, 0);
}

.tabs {position: relative;top: 20px; font-family: cool;}

.as {    color: #ffffff;
    z-index: 9;
    position: relative;
    text-decoration: none;
    top: 200px;
    left: 10px;
    font-family: cool;
  }
