<center style="padding-top:90px;">

	<h1>holdings</h1>

	<table>
		<tr>
			<th>Ticker</th>
			<th>Name</th>
			<th>Price</th>
			<th>Book Cost</th>
			<th>Book Value</th>
			<th>Quantity</th>
		</tr>
		<tr ng-repeat="holding in holdings" ng-click="goToStock(holding.sedol)">
			<td>{{ holding.ticker }}</td>
			<td>{{ holding.name }}</td>
			<td>{{ holding.price }}</td>
			<td>{{ holding.bookCost }}</td>
			<td>{{ holding.bookValue }}</td>
			<td>{{ holding.quantity }}</td>
		</tr>
		
	</table>

</center>