<style>

.shockcoin-info {
	width: 1000px;
	text-align: justify;
}

.shockcoin-info h1 {
	text-align: center;
}

.download-button {
    width: 200px;
    border-radius: 3px;
    background-color: #f2c800;
    display: inline-block;
    margin: 10px;
    text-align: left;
}

.download-button h3,
.download-button p {
	padding: 2px 10px;
}

.download-container {
	text-align: center;
}

</style>

<center style="padding-top:150px;">

	<div class="shockcoin-info">

		<h1 class="sans">WHAT IS SHOCKCOIN?</h1>
		<p>ShockCoin is a peer-to-peer Internet currency that enables instant, near-zero cost payments to anyone in the world. ShockCoin is an open source, global payment network that is fully decentralized without any central authorities. Mathematics secures the network and empowers individuals to control their own finances. ShockCoin features faster transaction confirmation times and improved storage efficiency than the leading math-based currency. With substantial industry support, trade volume and liquidity, ShockCoin is a proven medium of commerce complementary to Bitcoin.</p>

		<h1 class="sans">Download</h1>
		
		<div class="download-container">
			<div class="download-button">
				<i class="fa fa-group fa-windows distro-graphic"></i>
				<h3>Download</h3>
				<p>ShockCoin Core 0.13.2</p>
				<p>For Windows</p>
			</div>

			<div class="download-button">
				<i class="fa fa-group fa-apple distro-graphic"></i>
				<h3>Download</h3>
				<p>ShockCoin Core 0.13.2</p>
				<p>For Mac OSX</p>
			</div>

			<div class="download-button">
				<i class="fa fa-group fa-linux distro-graphic"></i>
				<h3>Download</h3>
				<p>ShockCoin Core 0.13.2</p>
				<p>For Linux</p>
			</div>
		</div>

	</div>

</center>