<style>

	.statement-tile h4 {
	    font-size: 20px;
	    padding-top: 12px;
	}

	.statement-tile {
	    width: 600px;
	    height: 50px;
	    background-color: #000;
	    text-align: left;
	}

	.statement-transaction-span {
	    width: 80px;
	    margin: 0 40px;
	    display: inline-block;
	}

	.transaction-amount, {
	    width: 50px;
	    margin: 0 10px;
	    display: inline-block;
	}

	.transaction-stock {
	    width: 150px;
	    margin: 0 10px;
	    display: inline-block;
	}

	.transaction-price {
		color: #f2c800;
	}

</style>

<center style="padding-top:90px;">

	<div class="statement-tile">
		<h4 class="sans">
			<span class="statement-transaction-span">Bought</span> 
			<span class="transaction-amount">8000</span> 
			<span class="transaction-stock">kappisan</span> for &nbsp;
			<span class="transaction-price">$4532</span>
		</h4>
	</div>

	<div class="statement-tile">
		<h4 class="sans">
			<span class="statement-transaction-span">Sold</span> 
			<span class="transaction-amount">8000</span> 
			<span class="transaction-stock">kappisan</span> for &nbsp;
			<span class="transaction-price">$4532</span>
		</h4>
	</div>

	<div class="statement-tile">
		<h4 class="sans">
			<span class="statement-transaction-span">Bought</span> 
			<span class="transaction-amount">8000</span> 
			<span class="transaction-stock">kappisan</span> for &nbsp;
			<span class="transaction-price">$4532</span>
		</h4>
	</div>

</center>