<style>
	.stock-name {
		font-size: 32px;
	}

	.stock-price {
		font-size: 72px;
	    width: 300px;
	    float: left;
	    margin: 0;
	}

	.stock-info-box {
	    width: 680px;
	    margin: 20px;
	}
	.line-svg svg {
		    margin: 50px 0 0 0;
	}

	.info-table th {
		padding: 0 !important;
	    font-size: 16px;

	}

	input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

</style>

<center style="padding-top:90px;">

<div class="stock-info-box">
	<h2 class="stock-price">{{ stockPrice }}</h2>

	<table class="info-table">
		<tr>
			<th>Range</th>
			<td>632 - 655</td>
			<th>Div / Yield</th>
			<td>17.32</td>
		</tr>
		<tr>
			<th>Volume</th>
			<td>632 - 655</td>
			<th>Market Cap</th>
			<td>320000</td>
		</tr>
		<tr>
			<th>P/E</th>
			<td>11.3</td>
			<th>Vol / Avg</th>
			<td>320000</td>
		</tr>
	</table>

</div>

<div class="line-svg"></div>

<table>
    <tr>
        <th>Date</th>
        <th>Price</th>
    </tr>
    <tr ng-repeat="valuation in company.kappisan">
        <td>{{ valuation.date }}</td>
        <td>{{ valuation.close }}</td>
    </tr>

</table>
</center>