<center style="padding-top:90px;">

	<h1 class="cool yellow">Stocks</h1>

	<table>
		<tr>
			<th>Ticker</th>
			<th>Name</th>
			<th>Price</th>
			<th>Market Cap</th>
			<th ng-if="loggedIn">Buy</th>
		</tr>
		<tr ng-repeat="stock in stocks" class="sans market-tr">
			<td ng-click="goToStock(stock)" class="td-ticker">{{ stock.ticker }}</td>
			<td ng-click="goToStock(stock)">{{ stock.name }}</td>
			<td ng-click="goToStock(stock)">£{{ stock.price }}</td>
			<td ng-click="goToStock(stock)">{{ stock.marketCap }}</td>
			<td ng-click="buyStock(stock)" ng-if="loggedIn"><button class="buy-button">Invest</button></td>
		</tr>
		
	</table>

</center>